.header {
  background: -webkit-linear-gradient(
    45deg,
    rgba(85, 85, 255, 1) 0%,
    rgba(255, 85, 85, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.boxLayout {
  font-size: 1.2rem;
  margin: 4% 6%;
  padding: 3px;
  border-radius: 7px;
  background: radial-gradient(
    circle,
    rgba(237, 83, 128, 1) 3%,
    rgba(148, 187, 233, 1) 100%
  );
}

.line {
  margin-left: 2%;
  margin-right: 2%;
}
